nav { padding-top: 20px; }
.header p.lead { padding: 0 0 20px 110px; }

blockquote p, blockquote footer { padding-left: 120px; }

h3 {
  color: green;
  font-style: italic;
  font-size: 18px;
  margin: 5px 0;
  padding: 5px 0;
}
h3 > i, h3 > b { padding-right: 5px; }

/*ul { padding-left: 5px; margin-left: 5px; }*/

h3.exclamation {
  color: darkred;
}

.image { float: left; padding-right: 10px; }

@media (min-width: 768px) {
  .container-fluid { padding-left: 50px; }
  .body { padding-right: 50px; }
}

.highlight {
  padding: 5px;
  background-color: #d9edf7;
}

/* Mobile */
h1 .default { display: inline; }
h1 .mobile-portrait { display: none; }

@media (max-width: 768px) and (orientation: landscape) {
  h1 .default { display: block; padding: 7px 0; }
}

@media (max-width: 768px) and (orientation: portrait) {
  h1 .mobile-portrait { display: block; padding: 9px 0; }
  h1 .default { display: none; }
  footer.footer { padding: 10px; }
}

@media (max-width: 768px) {
  a[role=button] {
    margin-left: auto; margin-right: auto; display: block;
  }
}

button[type=button] { font-size: 18px; }

form input {
  width: 100%; display: block;
  margin-bottom: 10px;
  line-height: 30px; font-size: 17px;
  border: 1px solid #bbb;
}

.newsletter {
  padding-bottom: 50px;
}

blockquote p {
  font-style: italic;
}

#spinner {
  padding-top: 30px;
  padding-left: 25px;
  font-size: 175%; color: darkgrey;
}

/* Display error in case AngularJS app hasn't load */
#show-delayed {
  visibility: hidden;
  -moz-animation: delayedShow 0s ease-in 10s forwards;
  /* Firefox */
  -webkit-animation: delayedShow 0s ease-in 10s forwards;
  /* Safari and Chrome */
  -o-animation: delayedShow 0s ease-in 10s forwards;
  /* Opera */
  animation: delayedShow 0s ease-in 10s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes delayedShow {
  to {
    visibility: visible;
    border-color: red;
    border-style: solid;
  }
}

/* Footer. */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.container, .container-fluid {
  min-height: 100%;
  margin: 0 auto -135px; /* the bottom margin is the negative value of the footer's height */
  /* I changed that */
}

body > footer, .push {
  height: 155px; /* '.push' must be the same height as 'footer' */
}

body > footer {
  background-color: #f5f5f5;
}

body > footer .footer {
  padding-top: 50px;
  text-align: center;
  background-size: 50px auto;
}
