body > nav { padding-top: 20px; }
body > footer { padding-bottom: 70px; }
.header p.lead { padding: 0 0 20px 110px; }
blockquote p, blockquote footer { padding-left: 120px; }
.image { padding: 20px; }
h3 {
  color: #707070;
  font-style: italic;
  font-size: 18px;
  margin: 5px 0;
  padding: 5px 0;
}

/* Mobile */
h1 .default { display: inline; }
h1 .mobile-portrait { display: none; }

@media (max-width: 768px) and (orientation: landscape) {
  h1 .default { display: block; padding: 7px 0; }
  a[role=button] { margin-left: auto; margin-right: auto; display: block; }
}

@media (max-width: 768px) and (orientation: portrait) {
  h1 .mobile-portrait { display: block; padding: 9px 0; }
  h1 .default { display: none; }
  a[role=button] { margin-left: auto; margin-right: auto; display: block; }
}

blockquote p {
  font-style: italic;
}

#spinner {
  padding-top: 30px;
  padding-left: 25px;
  font-size: 175%; color: darkgrey;
}

/* Display error in case AngularJS app hasn't load */
#show-delayed {
    visibility: hidden;
    -moz-animation: delayedShow 0s ease-in 10s forwards;
    /* Firefox */
    -webkit-animation: delayedShow 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -o-animation: delayedShow 0s ease-in 10s forwards;
    /* Opera */
    animation: delayedShow 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes delayedShow {
  to {
    visibility: visible;
    border-color: red;
    border-style: solid;
  }
}

/* Footer. */
body > footer {
  width: 100%;
  height: 175px;
  padding-top: 15px;

  /*position: absolute;*/
  bottom: 0px;

  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  z-index: 100;
}

body > footer .footer {
  width: 45%;
  float: left;
  margin: 0 0 0 33%;
  padding-top: 50px;
  text-align: center;
  background-size: 50px auto;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

* {
  margin: 0;
}

html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -175px; /* the bottom margin is the negative value of the footer's height */
}

body > footer, .push {
  height: 175px; /* .push must be the same height as .footer */
}
